@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*--------------------- Globals -----------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background:#2d2b2c;
}

a, .nav-link {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}


/*--------------------- navbar -----------------------*/

.navbar {
  color: #73b959
}

.navbar-brand img {
  height: 65px;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(115,185,89, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #73b959;
} 




body {
  font-family: 'Quicksand', sans-serif;
  color: #222;
  padding-bottom: 50px;

}
.carousel-container {
  max-width: 1200px;
  margin: 0 auto;
}


.hero {
  background-image: url(https://images.unsplash.com/photo-1544033527-b192daee1f5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}


.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

.hero img {
  width: 100%;
}


/* green #73b959 */
/* gold #ffcd16 */